.landingpage {
  .kromac-landingpage-container {
    .kromac-section {
      position: relative;
      margin-bottom: 2em;
      border-bottom: solid 1px #566573;
      padding: 1em;

      &:nth-last-child(1) {
        border: none;
      }

      .div-implementation {
        margin: 1em 0;
      }

      .kromac-text-animation {
        height: 2em;
        margin-bottom: 1em;
      }

      .dev-team {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        a {
          margin: .25em;
        }
      }

      .btn-sponsor {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .kromac-sponsor-btn {
          width: 100px;
          height: 100px;
          text-align: center;

          label {
            text-align: center;
          }

          form {
            width: 100px;
            height: 100px;
            border: solid;
            border-radius: 50%;
            box-shadow: 5px 5px 10px 0px #919191, inset 5px 5px 10px 0px #919191;

            img,
            input[type='image'] {
              width: 100%;
              height: 100%;
            }

            img {
              display: none;
            }
          }
        }
      }

      .kromac-subsection {
        padding-left: 0;
        margin-top: 1em;

        .tech {
          display: flex;
          overflow: hidden;
          background: #17202a;
          gap: 20px;
          max-width: 2880px;
          li {
            width: 100%;
            a {
              position: relative;
              transition: 2s ease;
              left: calc(var(--left) * -320px);
              width: 300px;
              height: 150px;
              display: flex;
              align-items: center;
              margin: 0;

              a {
                min-width: 100%;
                width: 100%;
                height: 100px;

                img {
                  cursor: pointer;
                  width: 100%;
                  height: 100px;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }

      .comingsoon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        gap: 10px;

        .card-hexagon {
          .kromac-card {
            min-width: 200px;
            max-width: 200px;
            height: 200px;
          }
        }
      }

      .kromac-panel {
        max-height: 100%;
        height: auto;
      }
      p {
        margin-bottom: 0;
      }
      .label-import {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  ion-icon {
    color: #fff;
    font-size: 2em;
  }
}
